body { height: 100%; color:white; background-color: white;}

.container{
  height: 100%;
  background-color: white;
  padding-top: 5em;
}

.card-login{
    max-width: 480px;
    min-width: 200px;
    align-items: center;
    box-shadow: 10px 8px 8px rgb(0,0,0,0.5);
    background-color: #3f25b3;
    border-radius: 8px;
}

.container, .row {
    height: 100%;
    min-height: 100%;
}

.mat-input-element{
  color: white;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-right-align {
    text-align: right;
  }



  .mat-icon{
      font-size: 20px;
      color: white;
  }

  mat-label{
      color:white;
  }

  .example-full-width {
    width: 80%;
    min-width: 150px;
  }

  .titulo3{
      margin-bottom: 30px;
      color: white;
      font-family:Helvetica, Arial, sans-serif;
      text-shadow: 10px 5px 5px rgb(0,0,0,0.3);

  }

  .subtitulo{
    color: rgb(255, 255, 255);
      font-size: 25px;
      margin-bottom:30px ;
      font-family: Helvetica, Arial, sans-serif;
      text-shadow: 10px 5px 5px rgb(0,0,0,0.3);
  }

  matinput{
      width: 255px;
  }
  .buttonForm{
      width: 150px;
      min-width: 75px;
      color: #000000;
      background-color: #ffffff;
      font-weight: bold;
  }

  .buttonForm:hover{
    background-color: #21088f;
    color: #ffffff;
  }

  .logo{
    width: 350px;
    min-width: 75px;
    margin-bottom: 30px;
  }

  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active
  {
   -webkit-box-shadow: 0 0 0 30px #3f25b3 inset !important;
   -webkit-text-fill-color: #ffffff;
  }


  input.example-right-align {
    -moz-appearance: textfield;
  }
